/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-bottom: 24px;
}

.card {
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px #848080;
  padding-bottom: 16px;
}

._padding-top {
  padding-top: 16px;
}

.result-table > tbody > tr:first-child td {
  background-color: #00ffe7;
}

.text-center {
  text-align: center;
}


// Green
$bgDefault      : #11836d;
$bgHighlight    : #11836d;
$colDefault     : #ecf0f1;
$colHover       : #d1ffed;


/* --- Style --- */
.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover;
            background-color: $bgHighlight; }}
}

/* Do not take in account */
html {
  padding-top:30px
}

a.solink {
  position:fixed;
  top:0;
  width:100%;
  text-align:center;
  background:#f3f5f6;
  color:#cfd6d9;
  border:1px solid #cfd6d9;
  line-height:30px;
  text-decoration:none;
  transition:all .3s;
  z-index:999
}

a.solink::first-letter{
  text-transform:capitalize
}

a.solink:hover{
  color:#428bca
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #64bda6 !important;
  border-color: #64bda6 !important;
}
